.menu.container{
    margin-top: 50px !important;
    margin-bottom: 10px !important;
}

.myCard{
    width: 70%;
}

.menu > .row{
    text-align: -webkit-center !important;
}

.menu .menu-header h1{
    color: #78c1ff;
}

.myCard-img{
    width: 100%;
}

.myCard-desc{
    width: 100%;
}

@media only screen and (max-width: 1025px) {
    .myCard{
        width: 100%;
    }
}