{% extends '../frontend/base.html' %}

{% block content %}
    <div class="root container">
        <div class="business-card row">
            <div class="col-sm image-box text-center">
                <img class="business-card-image" src="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Resources/Images/about/GA_profile.png" alt="">
            </div>
            <div class="col-sm informations">
                <div class="bio">
                    <h2 class="business-card-title">Giorgio Agosta</h2>
                    <h4 class="business-card-subtitle">Computer Science Student at "La Sapienza" </h4>
                </div>
                <div class="links">
                    <label class="links-header">Follow me on:</label>
                    <div class="icons-panel">
                        <a href="https://github.com/AgostaGiorgio/" class="btn">
                            <img class="icon" src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" alt="">
                        </a>
                        <a href="https://www.instagram.com/giorgio.gst/" class="btn">
                            <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/5/58/Instagram-Icon.png" alt="">
                        </a>
                        <a href="https://www.facebook.com/agosta.giorgio" class="btn">
                            <img class="icon" src="https://www.lamagnagioielleria.it/images/facebook-icon.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="business-card row">
            <div class="col-sm image-box text-center">
                <img class="business-card-image" src="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Resources/Images/about/GB_profile.png" alt="">
            </div>
            <div class="col-sm informations">
                <div class="bio">
                    <h2 class="business-card-title">Giorgio Belli</h2>
                    <h4 class="business-card-subtitle">Computer Science Student at "La Sapienza" </h4>
                </div>
                <div class="links">
                    <label class="links-header">Follow me on:</label>
                    <div class="icons-panel">
                        <a href="https://github.com/GiorgioBelli/" class="btn">
                            <img class="icon" src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" alt="">
                        </a>
                        <a href="https://www.instagram.com/giorgio.belli/" class="btn">
                            <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/5/58/Instagram-Icon.png" alt="">
                        </a>
                        <a href="https://www.facebook.com/giorgio.belli" class="btn">
                            <img class="icon" src="https://www.lamagnagioielleria.it/images/facebook-icon.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Accunniscila/frontend/templates/frontend/css/about.css">
{% endblock %}
