{% extends '../frontend/base.html' %}

{% block content %}
    <div class="container root">
        
        <button type="button" class="btn btn-primary btn-lg text-nowrap add-pizza">Aggiungi Pizza</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="menu-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block style %}
    <!-- <link rel="stylesheet" type="text/css" href="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Accunniscila/frontend/libraries/slick/slick-theme.css"/> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Accunniscila/frontend/templates/frontend/css/creaOrdine.css">
{% endblock %}

{% block javascript %}
    <!-- <script type="text/javascript" src="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Accunniscila/frontend/libraries/slick/slick.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script type="text/javascript" src="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Accunniscila/frontend/templates/frontend/js/creaOrdine.js"></script>
{% endblock %}

