{% extends '../frontend/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm">
                <div class="myCard">
                    <img class="myCard-img" src="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Resources/Images/pizza.png">
                    <div class="myCard-desc">
                        <h2>Pizza Merlino</h2>
                        <p>Non ce sta ncazzo dentro, MAGIA!</p>
                        <h2 class="myCard-price text-left">€ 30.90</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="myCard">
                    <img class="myCard-img" src="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Resources/Images/pizza.png">
                    <div class="myCard-desc">
                        <h2>Pizza Merlino</h2>
                        <p>Non ce sta ncazzo dentro, MAGIA!</p>
                        <h2 class="myCard-price text-left">€ 30.90</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    
{% block style %}
    <link rel="stylesheet" type="text/css" href="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Accunniscila/frontend/templates/frontend/css/menu.css">
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Accunniscila/frontend/templates/frontend/js/menu.js"></script>
{% endblock %}
