{% extends '../frontend/base.html' %}

{% block content %}
    <div class="orders_list container">
        
    </div>
    
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Accunniscila/frontend/templates/frontend/css/ordini.css">
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Accunniscila/frontend/templates/frontend/js/ordini.js"></script>
{% endblock %}
 