amqp==1.4.9
anyjson==0.3.3
asgiref==3.2.10
billiard==3.3.0.23
celery==3.1.26.post2
Django==3.0.8
django-celery==3.3.1
django-extensions==3.0.2
django-simple-history==2.11.0
djangorestframework==3.11.0
docutils==0.15.2
graphviz==0.14.1
kombu==3.0.37
psycopg2-binary==2.8.3
pydotplus==2.0.2
pymongo==3.9.0
PyMySQL==0.9.3
pyparsing==2.4.7
pytz==2019.1
six==1.15.0
sqlparse==0.3.0