.myheader{
    height: 190px; 
    background-image: url('https://res.cloudinary.com/glovoapp/image/fetch///https://glovoapp.com/images/svg/curve.svg'); 
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffb253;
} 

.carousel-indicators{
    padding-top: 50px;
}

#carouselExampleSlidesOnly{
    background-color: #ffb253;
    padding-top: 75px;
    padding-bottom: 75px;
}

.carousel .item {
    height: 10px;
  }
  
.carousel-item img {
    margin-left: 25%;
}

.carousel-inner{
    margin-bottom: 1%;
}

@media only screen and (max-width: 1025px) {
    .carousel-item img{
        margin-left: 1% !important;
        width: 98% !important;
    }
}

.mybtn{
    position: relative;
    width: 100px;
    text-align: center;
    left: calc(50% - 50px);
    color: white;
    background-color: #78c1ff;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,.1);
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-transform: capitalize;
    user-select: none;
    cursor: pointer;
    border-radius: 55px;
}

.content-item>*>p{
    color: #929292;
}