{% extends '../frontend/base.html' %}

{% block content %}
    <div class="form container">
        <div class="form-logo">
            <a href="http://217.61.121.77:8000" class="btn btn-link text-center">
                <img src="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Resources/Images/1x/inline_logo.png">
            </a>
        </div>
        <div class="row first">
            <div class="col-sm">
                <input class="form-control form-control-lg" type="text" placeholder="Username o Email">
            </div>
        </div>
        <div class="row last">
            <div class="col-sm">
                <input class="form-control form-control-lg" type="password" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center mb-0">
                <a href="#" class="btn btn-link text-center">hai dimenticato la password?</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center mt-0">
                <a href="http://217.61.121.77:8000/signUp/" class="btn btn-link text-center">Non hai un account? Registrati.</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm mt-0">
                <div class="mybtn">Login</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Accunniscila/frontend/templates/core/css/registration.css">
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://217.61.121.77/gagosta/phptest/VenvDjango/Accunniscila/Accunniscila/frontend/templates/core/js/registration.js"></script>
{% endblock %}