{% extends '../frontend/base.html' %}
{% load static %}

{% block content %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          </ol>
        <div class="carousel-inner"></div>
    </div>

    <div class="myheader"></div> 

    <div class="container">
        <div class="row content-item align-items-center mb-5">
            <div class="col-sm order-2 text-center">
                <h1>Condisci la tua pizza</h1>
                <p>Usa tutti gli ingredienti che vuoi e crea la tua pizza preferita in modo semplice e veloce</p>
            </div>
            <div class="col-sm order-3 text-center content-img">
                <img class="w-75" src="/static/homepage/condisci.png">
            </div>
        </div>
        <div class="row content-item align-items-center mb-5">
            <div class="col-sm order-2 text-center">
                <h1>Completa il tuo ordina con un Click!</h1>
                <p>Completa l'ordine grazie ai nuovi metodi di pagamento super veloci e memorizzali per risparmiare ancora più tempo!</p>
            </div>
            <div class="col-sm order-3 text-center content-img">
                <img class="w-75" src="/static/homepage/ordina.png">
            </div>
        </div>
        <div class="row content-item align-items-center">
            <div class="col-sm order-2 text-center">
                <h1>Mangia!</h1>
                <p>Gusta la tua pizza con gli amici, con la tua fidanzata o con chiunque tu voglia</p>
            </div>
            <div class="col-sm order-3 text-center content-img">
                <img class="w-75" src="/static/homepage/mangia.png">
            </div>
        </div>
    </div>

    <a class="nav-link" href="creaOrdine/">
        <div class="mybtn">
            Ordina
        </div>
    </a>

{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/templates/frontend/css/homepage.css">
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/templates/frontend/js//homepage.js"></script>
{% endblock %}